
.fa-male{
    color: blue;
}
.fa-female{
    color: pink;
}

form {
    text-align: right;
  }

.activity_level{
    border:30px;
}


.col-md-3 form{
    background-color:#f3f3f3 ;
}
form{
    color:#000000;
    font-size: 18px;
}
#results{
    font-size: 20px;
}

label{
    text-align:right;
}

legend{
    text-align:right;
}
#text{
    font-size: 16px;
}

td{
    font-size: 18px;
}

.bg-select{
    background-color:#c5c5c5;
}
.icon{
    margin-bottom: 0;
    text-align: left;
}
#gridRadios2{
 margin-left: -1em;
}
