{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
{{ fontawesome_html() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col col-md-8 col-md-offset-2">
            <h1 class="display-1">Learn How Many Calories You Burn Every Day</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            <form method="POST">
                <div class="row mb-3 ">
                    <label for="mass" class="col-md-6 col-form-label">Weight</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="mass" name="mass">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="height" class="col-md-6 col-form-label">Height</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="height" name="height">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="age" class="col-md-6 col-form-label">Age</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="age" name="age">
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-md-6 pt-0">Gender</legend>
                    <div class="col-md-6">
                        <div class="form-check col-md-6">
                            <input class="form-check-input" type="radio" name="sex" id="gridRadios1" value="male"
                                checked>
                            <label class="form-check-label" for="gridRadios1">
                                <p><i class="fas fa-male"></i></p>
                            </label>
                        </div>
                        <div class="form-check col-md-6">
                            <input class="form-check-input" type="radio" name="sex" id="gridRadios2" value="female">
                            <label class="form-check-label" for="gridRadios2">
                                <p><i class="fas fa-female"></i></p>
                            </label>
                        </div>
                </fieldset>
                <div class="row mb-3">
                    <label for="age" class="col-md-6 col-form-label"><small class="text-muted">Body
                            Fat%(optional)</small> </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="body_fat" name="body_fat">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 col-form-label"> Activity Level </div>
                    <div class="col-md-6">
                        <select name=activity_lvl  class="form-control">
                            <option selected value=0>Sedentary</option>
                            <option value=1>Light Exercise</option>
                            <option value=2>Moderate Exercise</option>
                            <option value=3>Heavy Exercise</option>
                            <option value=4>Athlete</option>
                        </select>
                    </div>       
                  
                </div>
                <button type="submit" value="Submit" class="btn btn-primary">Calculate</button>
            </form>
        </div>
        <div class="col-md-8">
            <ul> 
                <li>Your basal metabolim rate is {{bmr}}</li>
                <li>Your total energy expenditure for a Sedentary activity level is {{tde_lvl_0}}</li>
                <li>Your total energy expenditure for a Light Exercise activity level is {{tde_lvl_1}}</li>
                <li>Your total energy expenditure for a Moderate Exercise activity level is {{tde_lvl_2}}</li>
                <li>Your total energy expenditure for a Heavy Exercise activity level is {{tde_lvl_3}}</li>
                <li>Your total energy expenditure for a Athlete level activity is {{tde_lvl_4}}</li>
            </ul>
            {{result}}
            {{all_tdees}}
        </div>
    </div>
    
       
   
</div>

{% endblock %}